table{
    border-spacing: 0;
}
img{
    display: block;
}
td{
    border:5px solid black;

}
#b1{
    border-left: none;
    border-top: none;
}
#b2{
    border-top: none;
}
#b3{
    border-top: none;
    border-right: none;
}
#b4{
    border-left: none;
}
#b6{
    border-right: none;
}
#b7{
    border-left: none;
    border-bottom: none;
}
#b8{
    border-bottom: none;
}
#b9{
    border-bottom: none;
    border-right: none;
}